
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px;
  z-index: 100;
}

.page-header__logo {
  display: inline-block;
  width: 202px;
  height: 147px;
}

.page-header__logo-img {

  width: 100%;
  height: 100%;
}

.page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(222, 222, 222, 0.50);

  @support (backdrop-filter: blur(10px)) {
      backdrop-filter: blur(10px);
      background-color: rgba(222, 222, 222, 0.50);
  }
}

.page-header__container,
.events__container {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1414px;
  width: 100%;
  position: relative;
  align-items: center;
}

.page-header__nav {
  display: inline-block;
}

.page-header__nav-link {
  margin: 0 25px;
  color: var(--1, #1F1E1E);
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.page-header__user-btn {
  box-sizing: border-box;
  text-decoration: none;
  padding: 15px 40px;
  background-color: transparent;
  border: 1px solid #1f1e1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #1f1e1e;
  line-height: normal;
}

.page-main {}

.home {
  padding-top: 147px;
}

.main-header {
  padding: 100px 0;
}

.main-header__title {
  margin: 0 0 70px;
  color: var(--1, #1F1E1E);
  text-align: center;
  font-family: Lora;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

}

.main-header__picture {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 70px;
}

.main-header__text {
  margin: 0 auto;
  max-width: 948px;
  width: 100%;
  color: var(--1, #1F1E1E);
  text-align: center;
  font-family: Lora;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.main-header__picture::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 16.927%;
}

.main-header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-header{
  padding: 100px 0;
}

.events {
  padding-top: 147px;
}

.title {
  background: var(--1, #1F1E1E);
  padding: 7px 45px 9px;
  max-width: 624px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lora";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.events__list{
  display: flex;
  flex-wrap: wrap;
  gap: 120px 60px;
}

.listing {
  display: flex;
  flex-wrap: wrap;
  gap: 120px 60px;
}

.listing__card-event{
  max-width: 405px;
  width: calc(33.333%-40px);
}

.card-event {
  box-sizing: border-box;
}

.card-event__link{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-event__link:hover .card-event__title{
  color: #a51505;
  text-decoration-color: #a51505;
}
.card-event__picture{
  position: relative;
  display: block;
  margin-bottom: 25px;
}

.card-event__picture::before{
  content: "";
  display: block;
  width: 100%;
  padding-top: 107.16%;
}

.card-event__picture-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-event__title{
  margin: 0 0 auto;
  min-height: 64px;
  text-decoration: underline;
  text-decoration-color: transparent;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color:#1F1E1E;
  transition: color 0.2s, text-decoration-color 0.23s;
}

.card-event__text{
  margin: 15px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #1F1E1E;
}

.card-event__time {
  margin-top: auto;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #1F1E1E;
}

.listing__card-event {
  max-width: 405px;
  width: calc(33.333% - 40px);
}

.title{
  margin: 0;
  box-sizing: border-box;
  padding: 7px 45px 9px;
  max-width: 624px;
  width: 100%;
  text-align: center;
  background-color: #1F1E1E;
  text-transform: uppercase;
  font-family: Lora;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
}

.events__container {
  flex-direction: column;
}

.events__title{
  align-self: center;
}
.page-footer {}